* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    font-weight: normal;
}

body {
    width: 1020px;
    margin: 0 auto;
}

.header {
    height: 95px;
    background-color: #2d303a;
  }

  .logo h1{
    padding: 34px 40px 35px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.28;
    letter-spacing: normal;
    float: left;
    font-family: Lato;
  }

  .logo h1::after {
    content: '*';
    color: #f06c64;
  }

  .nav {
    display: flex;
    height: 95px;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin-left: auto;
    list-style: none;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
  }



  .nav-item:not(:last-child)::after {
    margin: 0 18px;
    content: "·";
    color: #494e62;
  }

  .nav-item.color {
    color: #f06c64;
  }

  .slider-button {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: filter 300ms;
  }

  .slider-btn:focus {
    outline: none;
    filter: brightness(5) opacity(0.5);
  }

  .phone-vert {
    width: 242px;
    height:485px;

  }

  .phone-horiz {
    width: 486px;
    height: 242px;
  }